<div class="row no-gutters vh-100">
  <div class="col form-wrapper d-flex flex-column">
      <div class="row h-100">
          <div class="hero-background"></div>
          <div class="col-lg-8 offset-2 d-flex flex-column">
              <div class="top-text-small">
                  <div class="logo-text">
                    SOCIAL FEED
                  </div>
              </div>

              <app-users-friends></app-users-friends>


              <app-add-entry [onClick]="addEntry"></app-add-entry>

              <app-single-post *ngFor="let post of posts" [post]="post" ></app-single-post>


          </div>
      </div>
  </div>
  <div class="col d-flex flex-column justify-content-center content-right">
      <div class="content-right-main">
          <div class="content-right-main__button">
              <i class="fa fa-user-circle" aria-hidden="true"></i>                
          </div>
          <p class="content-right-main__caption">FRIENDS' CIRCLE</p>
      </div>
  </div>
</div>